<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443911086980-f8l4q8c9gdieheinda2hvcim33mqbqn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443911086980-f8l4q8c9gdieheinda2hvcim33mqbqn1</string>
	<key>API_KEY</key>
	<string>AIzaSyAD2pdo-LMnm_u6r6UH3I6zno0a90jA9rc</string>
	<key>GCM_SENDER_ID</key>
	<string>443911086980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackbotglobal.app</string>
	<key>PROJECT_ID</key>
	<string>stackbot-a5e78</string>
	<key>STORAGE_BUCKET</key>
	<string>stackbot-a5e78.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443911086980:ios:aa20cf4f71b5dc9622b3d1</string>
</dict>
</plist>